{% extends 'app1/main.html' %}

{% block content %}
{%include 'app1/status.html'%}
<div class="row">
    <div class="col-md">
       <div class="card card-body">
          <table class="table table-sm">
             <tr>
                <th>Product</th>
                <th>Note</th>
                <th>Date Orderd</th>
                <th>Status</th>

                {%for order in orders%}
                <tr>
                   <td>{{order.product}}</td>
                   <td>{{order.note}}</td>
                   <td>{{order.date}}</td>
                   <td>{{order.status}}</td>

 
 
                {%endfor%}
             </tr>
          </table>
       </div>
    </div>
 </div>

{%endblock content%}